- content_for :javascripts_bottom do
  = javascript_include_tag 'standalone/progress_bar', :defer => true

#progress
  .progressbar.js-progressbar
  #pbstat.js-pbstat
    #pberrors.pberrors.js-pberrors
- if @back_url.present?
  = link_to 'Закрыть', @back_url

:javascript
  app.config.progressBar = {
    url: #{job_status_path(domain: :current).to_json},
    pid: #{@job_id.to_json},
    documentLocation: #{@success_url_js || @success_url.to_json},
    documentLocationError: #{@error_url ? @error_url.to_json : nil.to_json}
  };
